/* Portfolio Container */
.portfolio-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Portfolio Content */
.portfolio-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Header Styles */
.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* ID Input Styles */
.id-input {
  text-align: center;
  margin-bottom: 20px;
}

.id-input input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
}

.id-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Personal Info Styles */
.personal-info {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-info .row {
  margin: 10px 0;
}

.personal-info .info-label {
  font-weight: bold;
  color: #007bff;
}

.personal-info .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Sections Styles */
.sections {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  font-size: 20px;
  margin: 20px 0;
  color: #007bff;
  text-transform: uppercase;
}

/* Custom Message Styles */
#cusMessages {
  position: fixed;
  background-color: #ffcc80;
  padding: 16px 4rem 16px 1rem;
  right: -99rem;
  top: 1.5rem;
  transition: 0.4s;
  z-index: 9999;
  border-radius: 4px;
  color: #333;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
